// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$celeste: rgb(94, 247, 231); //#3dd9ca
$verde: hsl(176, 97%, 35%); //#03b2a5
$texto: #121212;
